{{- define "backline.rawCoderJobSpec" -}}
activeDeadlineSeconds: 3600
backoffLimit: 0
template:
  metadata:
    labels: {} # Auto filled
  spec:
    restartPolicy: Never
    securityContext:
      {{- include "common.podSecurityContext" . | nindent 6 }}
    imagePullSecrets:
        - name: {{ include "secretname.dockerconfig" . }}
    initContainers:
      {{- include "adot.sidecar" (merge (dict "isJob" true) .) | nindent 6 }}
    containers:
      - name: coder
        securityContext:
          {{- include "common.containerSecurityContext" (dict "readOnlyRootFilesystem" true) | nindent 10 }}
        image: backline-ai/coder:latest
        imagePullPolicy: IfNotPresent
        command:
          - "/bin/sh"
          - "-c"
        args: [] # Auto filled
        env:
          - name: AUTH_TOKEN_FILE
            value: "/var/run/descope/token"
        volumeMounts:
          {{- include "adot.logVolumeMount" (dict "readOnly" false) | nindent 10 }}
          - name: {{ include "secretname.sessionjwt" . }}
            mountPath: "/var/run/descope"
            readOnly: true
          - name: home-volume
            mountPath: /home/app_user
          - name: tmp-volume
            mountPath: /tmp
        resources: {} # Auto filled from resource profiles
    volumes:
      {{- include "adot.volumes" . | nindent 6 }}
      - name: home-volume
        emptyDir: {}
      - name: tmp-volume
        emptyDir: {}
{{- end -}}

{{- define "backline.coderJobSpec" -}}
{{ include "backline.rawCoderJobSpec" . | fromYaml | toJson }}
{{- end -}}
