{{- define "backline.rawCoderJobSpec" -}}
activeDeadlineSeconds: {{ .Values.coderJob.activeDeadlineSeconds }}
backoffLimit: {{ .Values.coderJob.backoffLimit }}
template:
  metadata:
    labels: {} # Auto filled
  spec:
    restartPolicy: {{ .Values.coderJob.restartPolicy }}
    {{- with .Values.coderJob.podSecurityContext }}
    securityContext:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    imagePullSecrets:
        - name: {{ include "secretname.dockerconfig" . }}
    initContainers:
      {{- include "adot.sidecar" (merge (dict "isJob" true) .) | nindent 6 }}
    containers:
      - name: coder
        {{- with .Values.coderJob.containerSecurityContext }}
        securityContext:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        image: "{{ include "runner.image.registry" . }}/{{ .Values.coderJob.image.name }}:{{ .Values.coderJob.image.tag }}"
        imagePullPolicy: {{ .Values.coderJob.image.pullPolicy }}
        command:
          - "/bin/sh"
          - "-c"
        args: [] # Auto filled
        env:
          - name: AUTH_TOKEN_FILE
            value: "/var/run/descope/token"
        volumeMounts:
          {{- include "adot.logVolumeMount" (dict "readOnly" false) | nindent 10 }}
          - name: {{ include "secretname.sessionjwt" . }}
            mountPath: "/var/run/descope"
            readOnly: true
          {{- with .Values.coderJob.volumeMounts }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
        resources: {} # Auto filled from resource profiles
    volumes:
      {{- include "adot.volumes" . | nindent 6 }}
      {{- with .Values.coderJob.volumes }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
    {{- with .Values.coderJob.nodeSelector }}
    nodeSelector:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    {{- with .Values.coderJob.tolerations }}
    tolerations:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    {{- with .Values.coderJob.affinity }}
    affinity:
      {{- toYaml . | nindent 6 }}
    {{- end }}
{{- end -}}

{{- define "backline.coderJobSpec" -}}
{{ include "backline.rawCoderJobSpec" . | fromYaml | toJson }}
{{- end -}}
