{{- define "backline.rawUpgraderJobSpec" -}}
activeDeadlineSeconds: 3600
backoffLimit: 0
template:
  metadata:
    labels: {} # Auto filled
  spec:
    restartPolicy: Never
    securityContext:
      privileged: false
      fsGroup: 1000
      fsGroupChangePolicy: OnRootMismatch
    imagePullSecrets:
      - name: {{ include "secretname.dockerconfig" . }}
    containers:
      - name: dependabot-updater
        image: # Auto filled according to package manager
        imagePullPolicy: Always
        securityContext:
          runAsUser: 1000
          runAsGroup: 1000
          capabilities:
            drop:
              - ALL
        command:
          - "/bin/sh"
          - "-c"
        args: [] # Auto filled
        env: [] # Auto filled
        volumeMounts:
          - name: repo
            mountPath: /home/dependabot/dependabot-updater/repo
        resources: {} # Auto filled from resource profiles
    volumes:
      - name: repo
        emptyDir: {}
{{- end -}}

{{- define "backline.upgraderJobSpec" -}}
{{ include "backline.rawUpgraderJobSpec" . | fromYaml | toJson }}
{{- end -}}
