{{- define "backline.rawUpgraderJobSpec" -}}
activeDeadlineSeconds: {{ .Values.upgraderJob.activeDeadlineSeconds }}
backoffLimit: {{ .Values.upgraderJob.backoffLimit }}
template:
  metadata:
    labels: {} # Auto filled
  spec:
    restartPolicy: {{ .Values.upgraderJob.restartPolicy }}
    {{- with .Values.upgraderJob.podSecurityContext }}
    securityContext:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    imagePullSecrets:
      - name: {{ include "secretname.dockerconfig" . }}
    containers:
      - name: {{ .Values.upgraderJob.container.name }}
        image: # Auto filled according to package manager
        imagePullPolicy: {{ .Values.upgraderJob.container.image.pullPolicy }}
        {{- with .Values.upgraderJob.container.securityContext }}
        securityContext:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        command:
          - "/bin/sh"
          - "-c"
        args: [] # Auto filled
        env: [] # Auto filled
        volumeMounts:
          {{- with .Values.upgraderJob.container.volumeMounts }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
        resources: {} # Auto filled from resource profiles
    {{- with .Values.upgraderJob.volumes }}
    volumes:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    {{- with .Values.upgraderJob.nodeSelector }}
    nodeSelector:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    {{- with .Values.upgraderJob.tolerations }}
    tolerations:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    {{- with .Values.upgraderJob.affinity }}
    affinity:
      {{- toYaml . | nindent 6 }}
    {{- end }}
{{- end -}}

{{- define "backline.upgraderJobSpec" -}}
{{ include "backline.rawUpgraderJobSpec" . | fromYaml | toJson }}
{{- end -}}
